Ankama Launcher
btop
chromium
dconf
easyeffects
epiphany
gitui
glib-2.0
gnome-session
go
goa-1.0
gtk-3.0
gtk-4.0
heroic
ibus
menus
mimeapps.list
monitors.xml
monitors.xml~
nautilus
paperwm
pulse
ranger
retroarch
simple-update-notifier
transmission
user-dirs.dirs
user-dirs.locale
user-share
vlc
WebCord
zaap
